<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection, ::-moz-selection {
    background-color: #836fa9;
}

footer,
header,
main,
nav,
section {
    display: block
}

body {
    color: #fafffc;
    font-family: Montserrat, -apple-system, Segoe UI, Roboto, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.75;
    display: flex;
    flex-direction: column;
    background-color: #221e2a;
}

body .lock {
    overflow: hidden;
}

html {
    box-sizing: border-box;
    height: 100%;
}

input[type="number"] {
    -moz-appearance: textfield;
}

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

li {
    list-style-type: none;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul[class], ol[class], li {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    background-color: transparent;
    color: #036ee9;
    text-decoration: none;
    transition: color .3s;
}
</style>

<body>
</body>